@tailwind base;
@tailwind components;
@tailwind utilities;

::-webkit-scrollbar {
	width: 10px;
}

::-webkit-scrollbar-thumb {
	border-radius: 20px;
	@apply bg-gray-500 hover:bg-gray-600;
}

::-webkit-scrollbar-track {
	border-radius: 20px;
	@apply bg-gray-800;
}
